.wpb_content_element {
    margin-bottom: 20px;
}
.vc_row.vc_row-flex {
    justify-content: flex-end;
}
.sign-box {
    width: 385px;
    margin-right: 10%;
    margin-left: 10%;
}
.sign {
    text-align: center;
    background: white;
    padding: 25px;
    color: #838383;
}
.sign text.zhuce {
    display: block;
    font-size: 28px;
    color: black;
    margin-bottom: 28px;
}
.sign input {
    height: 40px;
    border: 1px solid #787878;
    padding: 5px;
}
.sign button {
    background: #141414;
    color: white;
    border-radius: 3px;
    border: 0;
    height: 40px;
}
.sign .phone {
    width: 100%;
    margin-bottom: 28px;
}
.sign-sms {
    margin-bottom: 28px;
    display: flex;
}
.sign-sms input {
    width: 70%;
    margin-right: 5px;
}
.sign-sms button {
    width: 30%;
}
.sign-sure {
    font-size: 12px;
}
.sign-sure a {
    text-decoration: underline;
}
.sign .btn-login {
    width: 100%;
    margin: 28px 0;
}
.sign-up {
    margin-bottom: 10px;
}
.sign-up a {
    color: black;
    text-decoration: underline;
}
.sign .name {
    width: 100%;
    margin-top: 28px;
}
.sign-sex {
    width: 100%;
    margin-top: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0;
}
.sign-sex btn {
    width: 100%;
    border: 1px solid;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-sex span {
    display: inline-block;
    width: 10px;
}
.sign-address {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-address .select2-container {
    width: 33.333333%;
    margin-left: 10px;
}
.select2-container:first-child {
    margin-left: 0;
}
.select2-container .select2-choice {
    background: white;
    border-radius: 0;
    color: #838383;
    border: 1px solid;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select2-container .select2-choice .select2-arrow {
    background: white;
    border-radius: 0;
    border: 1px solid transparent;
}
.select2-search input {
    line-height: initial;
}
